<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
@using LG.Utility;
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <title>谢谢宝贝母婴特卖</title>
    <meta name="keywords" content="母婴特卖,母婴商城,进口母婴,纸尿裤,奶粉,辅食,母婴用品,儿童玩具,童装,童鞋" />
    <meta name="description" content="中国最大的母婴特卖网站,每天1折起对童装、童鞋、玩具、用品等品牌进行限时特卖,100%正品。" />
    <link rel="icon" href="/Content/img/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0; user-scalable=no" />
    <!-- Status bar styles -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- Telephone format detection -->
    <meta name="format-detection" content="telephone=no">
    <!-- Fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Title -->
    <meta name="apple-mobile-web-app-title" content="谢谢宝贝母婴特卖" />
    <link href="content/css/bootstrap.css?v=3.0.22" rel="stylesheet">
    @*<link href="content/css/socialicious.css" rel="stylesheet">*@
    <link href="content/css/style.css?v=0.2" rel="stylesheet">
    <link href="content/css/mqueries.css?v=0.2" rel="stylesheet">
    <script src="content/js/jquery.min.js?v=1.10.2"></script>
</head>
<body>
    <div id="playground">
        <header id="top">
            <div id="header1">
                <div class="container">
                    <div class="top-logo row">
                         <div id="logo" class="col-xs-2 col-lg-3">
                            <span class="logoioc"></span>
                            <span class="logotypo"></span>
                        </div>
                        <div  class="col-xs-8 col-lg-7 logo-left">
                            <img src="/Content/img/zp.png"  />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <nav class="navbarbox navbar navbar-default">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="#"> </a>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="navbox collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul id="navbox" class="nav navbar-nav">
                                            <li class="nav-item" data-type="all"><a href="/?t=all" data-toggle="" varia-haspopup="true" aria-expanded="false">今日特卖<span class="sr-only">(current)</span></a></li>
                                            <li class="nav-item" data-type="1"><a href="/?t=1" data-toggle="" varia-haspopup="true" aria-expanded="false">婴幼穿着<span class="sr-only">(current)</span></a></li>
                                            <li class="nav-item" data-type="3"><a href="/?t=3" data-toggle="" varia-haspopup="true" aria-expanded="false">喂养洗护<span class="sr-only">(current)</span></a></li>
                                            <li class="nav-item" data-type="2"><a href="/?t=2" data-toggle="" varia-haspopup="true" aria-expanded="false">纸尿裤<span class="sr-only">(current)</span></a></li>
                                            <li class="nav-item" data-type="4"><a href="/?t=4" data-toggle="" varia-haspopup="true" aria-expanded="false">玩具早教<span class="sr-only">(current)</span></a></li>
                                            <li class="nav-item"><a href="http://s.click.taobao.com/5WDJagx" target="_blank" varia-haspopup="true" aria-expanded="false">9.9疯抢<span class="sr-only">(current)</span></a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他母婴商城<span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DJ6gsCuClzPgcQipKwQzePCperVdZeJviK7Vc7tFgwiFRAdhuF14FMdTrZOwaOOI%2Fxq3IhSJN6GSh8Og6JueakOloDNdwB1ZS7lWBbU9O3%2Bkev%2BD8irYy2o7LAa3DUrM2zt5vEinufIW9AmARIwX9K2poXPj9j3Ftsd%2B%2Ff4Fhw9Ypqc3O%2F4tafZwIqRHwxvj3nDWCSR8SND%2BiZ%2BQMlGz6FQ%3D%3D" target="_blank">天猫母婴特卖</a></li>
                                                    <li><a href="http://www.mia.com/" target="_blank">蜜芽母婴特卖</a></li>
                                                    <li><a href="http://kid.vip.com/" target="_blank">唯品会母婴特卖</a></li>
                                                    <li><a href="http://baby.jd.com/" target="_blank">京东母婴特卖</a></li>
                                                    <li> <a href="http://www.meilishuo.com/guang/catalog/child?nid=222647&cata_id=2001054000000&frm=daeh" target="_blank">美丽说童装</a></li>
                                                    <li role="separator" class="divider"></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <form class="navbar-form navbar-left" role="search" style="display:none;">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="搜索商品" />
                                            </div>
                                            <button type="submit" class="btn btn-default">查询</button>
                                        </form>
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.Raw("@")我们<span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">用心选品，品质保证！</a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a href="#">客服QQ:3322424700</a></li>
                                                    <li><a href="#">卖家报名QQ:634246137</a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a href="#">商务合作QQ:563644741</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div><!-- /.navbar-collapse -->
                                </div><!-- /.container-fluid -->
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div id="header2" class="container">
                <div class="row"  style="margin:2px 20px;">
                    <div id="adleft" class="adleft col-lg-4">
                        <div class="adbox">
                            <a href="http://s.click.taobao.com/q00Jagx" target="_blank"><img src="http://gtms01.alicdn.com/tps/i1/TB1tpZ5IFXXXXX5aXXXQO4D5VXX-440-180.jpg" /></a>
                        </div>
                        <div class="adbox">
                            <a href="http://s.click.taobao.com/JArIagx" target="_blank"><img src="http://img03.taobaocdn.com/imgextra/i3/94395476/TB2tjhRcVXXXXatXpXXXXXXXXXX_!!94395476.jpg" /></a>
                        </div>
                    </div>
                    <div class="adright col-lg-8">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="max-width:720px; margin:0px auto;">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <a href="http://ai.taobao.com/album/detail.htm?albumId=32248&pid=mm_109531664_9350919_41852597" target="_blank"><img src="http://img4.tbcdn.cn/tfscom/TB1pkeXKpXXXXbRXXXXXXXXXXXX.jpg" data-holder-rendered="true" /></a>
                                </div>
                                <div class="item">
                                    <a href="http://ai.taobao.com/album/detail.htm?albumId=32255&pid=mm_109531664_9350919_41852597" target="_blank"><img src="http://img4.tbcdn.cn/tfscom/TB15GqiKpXXXXbaXpXXXXXXXXXX.jpg" data-holder-rendered="true" /></a>
                                </div>
                                <div class="item">
                                    <a href="http://ai.taobao.com/album/detail.htm?preview=true&albumId=32090&pid=mm_109531664_9350919_41852597" target="_blank"><img src="http://img4.tbcdn.cn/tfscom/TB1bfvyJVXXXXb0XFXXXXXXXXXX.png" data-holder-rendered="true" /></a>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only"></span>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div id="info-top" class="col-xs-12 col-sm-7" style="margin-top:20px;">
                        <div class="avatar pull-left">
                            <img src="/content/img/logo_zp.png" alt="100%正品保证" />
                        </div>
                        <h1 class="toptitle">
                            母婴特惠推荐
                        </h1>

                        <h2 class="topdesc">
                            <span>我们极力打造一个优质母婴折扣商品推荐平台，每天不定时更新超值商品</span>
                            <span class="links" style="display:none">
                                <a href="javascript:;" target="_blank"></a>
                                <a href="javascript:;" target="_blank"></a>
                            </span>
                        </h2>


                    </div>
                    <div id="partage-top" class="col-xs-0 col-sm-2 hidden-xs ">
                        <button class="btn btn-neeed btn-lg login-box" style="display:none;">Inscription</button>
                    </div>
                    <div id="social-top" class="col-xs-12 col-sm-3">
                        <div style="display:none;">
                            <div class="social-item">
                                <a href="javascript:;"><strong></strong><span></span></a>
                            </div>
                            <div class="and">&</div>
                            <div class="social-item">
                                <a href="javascript:;"><strong></strong><span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="header3">
                <div class="container">
                    <div id="header3-top" class="row">
                        <div id="bt-lists" class="col-xs-2 col-sm-3">
                            <a href="#" class="ico open-list">
                                <span class="hidden-xs open-list">分类筛选</span>
                            </a>
                            <a href="#" class="open-list pull-right hidden-xs"><span style="display:none;" class="glyphicon glyphicon-chevron-down fleche-liste"></span></a>
                        </div>
                        <div class="col-xs-10 col-sm-6" >
                            <a id="bt-trier" style="display:none;" class="pull-left" href="#">分类 过滤</a>
                            <a id="bt-trier" style="display:none;" href="#" class="fleche-menu pull-right"><span class="glyphicon glyphicon-chevron-down fleche-filtre"></span></a>
                        </div>
                        <div id="nb-products" class="col-xs-0 col-sm-3 text-right hidden-xs">
                            <span id="allgoods">共n件</span>
                        </div>
                    </div>
                    <div id="header3-filters" class="row">
                        <div id="filters" style="display:none;">
                            <div class="clearfix">
                                <label class="text-right"></label>
                            </div>
                            <div class="clearfix">
                                <label class="text-right"></label>
                            </div>
                            <div class="clearfix">
                                <label class="text-right"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- #main -->
        <div id="main">
            <div class="container">
                <div class="row">
                    <!--类别-->
                    <div id="lists" class="col-xs-12 col-md-3" style="display: none; z-index:999">
                        @{var typeDatas = (List<TaoKeModel.EGoodType>)ViewBag.GoodType; }
                        <div>
                            <div class="scrooly">
                                <ul id="typelist" class="nav nav-pills nav-stacked">
                                    <li>
                                        <a href="javascript:;" data-type="all">
                                            <span class="badge pull-right" style="color:#ffffff; background-color:#FF5D5D;" >0</span>
                                            所有
                                        </a>
                                    </li>
                                    @foreach (var item in typeDatas) {
                                        <li>
                                            <a href="javascript:;" data-type="@item.GetInt(0,false)">
                                                <span class="badge pull-right" style="color:#ffffff; background-color:#FF5D5D;">0</span>
                                                @item.GetEnumAttr().Text
                                            </a>
                                        </li>
                                    }
                                   
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Page :: user -->
                    <div id="neeed" style="display:none;position:relative;min-height:500px;"  class="col-xs-12" >
                            <div class="big-liste row">
                                <div class="prod  col-xs-6 col-sm-6 product col-md-3 col-lg-3"  v-for="item in goods">
                                    <div class="goodinfo">
                                        <a href="{{item.BuyUrl==''?'javascript:;':item.BuyUrl}}" target="_blank">
                                            <img style="max-height:250px" itemprop="image" src="{{item.ImgUrl.replace('_.webp','').replace('60x60','250x250').replace('80x80','250x250')}}" alt="{{item.Title}}" />
                                            <div class="item-title"><span>[包邮]</span> {{item.Title}}</div>
                                            <h4>
                                                <em><b>¥</b>{{item.NowPrice}}</em>
                                                <span>
                                                    <i>¥{{item.OldPrice}}</i>
                                                    <br />
                                                    <u>{{item.Discount}}折</u>

                                                </span>
                                                <div class="pold site_tag" style="float: right;text-align: right;margin-right: 5px;">
                                                    <span class="pnum {{ item.SourceMall=='2'?'pnum_tmall':item.SourceMall=='1'?'pnum_taobao':'pnum_taobao'}} "></span>
                                                    <br />
                                                    <p class="pdesc">今日推荐</p>
                                                </div>
                                            </h4>
                                            <div class="like" style="display:none;">
                                                <span class="bt-popliste login-box" style="display:none" data-toggle="tooltip" data-placement="bottom" title=""> </span>
                                                <span class="bt-like login-box" data-toggle="tooltip" data-placement="bottom" title=""></span>
                                                <span class="bt-popshare share-box" style="display:none" data-share="product" data-rel="484137" data-toggle="tooltip" data-placement="bottom" title="Partager"></span>
                                            </div>
                                            <div class="row Nicon">
                                                <ul class="list-unstyled">
                                                    <template v-if="item.IsToday==true">
                                                        <li class="tag-new"></li>
                                                    </template>
                                                    <template v-if="item.IsHot==true">
                                                        <li class="tag-hot"></li>
                                                    </template>
                                                </ul>
                                            </div>
                                        </a>

                                    </div>
                                </div>
                                </div>
                        </div>
                        <!-- #neeed -->
                    </div>
                </div>
            </div>
            <div class="container footbox">
                <div class="row">
                    <p>Copyright ©right; 2014 -2020 谢谢宝贝 thankbabe.com 版权所有</p>
                    <p>闽ICP备15007928号-2 厦门软件园二期望海路 </p>
                   </div>
                <div class="row">
                    @*<img width="80" alt="可信网站" oncontextmenu="return false;" style="border:none;" src="http://rr.knet.cn/static/images/logo/cnnic.png" /></a>
                    <img src="http://file03.miyabaobei.com/resources/images/res/chengxin.jpg" />*@
                </div>
             </div>
        <div id="loading" style="display:none;">
            <img src="content/img/loader.gif">
        </div>
      
        <script type="text/javascript" src="/content/js/bootstrap.min.js?v=3.0.0"></script>
        <script type="text/javascript" src="/content/js/script.js?v=0.033"></script>
        <script type="text/javascript" src="/content/js/vue.min.js?v=0.1"></script>
        <script type="text/javascript" src="/datas/goods/info.js?t=@{DateTime.Now.GetTimestamp();}"></script>
        <script type="text/javascript">
            (function () {
                var type = "@Html.Encode(ViewBag.Type)";
                window.goodDatas = {
                    goods: []
                }
                window.doGoodBind = null;
                window.lastLoadData = {
                    type:"",
                    pageIndex: 1,
                };
                //隐藏筛选导航
                function hideBox() {
                    if ($(window).width()<997 && $("#lists").css("display") == "block") $(".open-list").click();
                    //隐藏loading
                    $("#loading").hide();
                }
                //商品数据加载
                function doLoadDatas(type, pageIndex) {
                    //加载显示
                    $("#loading").show();
                    var isSameType = lastLoadData.type == type;
                    if (isSameType && lastLoadData.pageIndex >= pageIndex) {
                        hideBox();
                        return;
                    }
                    var url = "/datas/goods/info_" + type + "_" + pageIndex + ".js?v" + new Date().getTime();
                    if (window.doLoadData) window.doLoadData.abort();
                    window.doLoadData=$.get(url, function (jsonDatasStr) {
                        lastLoadData.type = type;
                        lastLoadData.pageIndex = pageIndex;
                        hideBox();
                        var jsonDatas = JSON.parse(jsonDatasStr);
                        if (isSameType) {
                            if (jsonDatas) window.goodDatas.goods = window.goodDatas.goods.concat(jsonDatas)
                        } else {
                            if (jsonDatas) window.goodDatas.goods = jsonDatas;
                        }
                        if (!window.doGoodBind) window.doGoodBind = new Vue({
                            el: '#neeed',
                            data: goodDatas
                        });
                        if ($("#neeed").css("display") == "none") $("#neeed").css("display", "block");
                        window.doLoadData = null;
                    });
                }
                //筛选
                $("#typelist a").click(function() {
                    var thisJq = $(this);
                    var type = thisJq.attr("data-type");
                    doLoadDatas(type,1);
                    return false;
                });

                //获取类型对象
                function getTypeInfo(type) {
                    for (var i = 0; i < window.GoodsInfo.length; i++) {
                        var item = window.GoodsInfo[i];
                        if (item["Type"] == type) return item;
                    }
                    return null;
                }
                //轮动加载
                function scrollLoad() {
                    var ajaxLoading = false;
                    $(window).scroll(function () {
                        if ($(window).scrollTop() >= $(document).height() - $(window).height() - 300) {
                            var typeJq = $("#typelist a[data-type='" + window.lastLoadData.type + "']");
                            var maxpage = typeJq.attr("data-pagecount");
                            if (window.lastLoadData.pageIndex >= maxpage) {
                                $("#loading").hide();
                                return;
                            }
                            var nextPage = window.lastLoadData.pageIndex + 1;
                            doLoadDatas(window.lastLoadData.type, nextPage);
                        }
                    });
                }

                //绑定商品类型信息
                function doBindGoodInfo() {
                    for (var i = 0; i < window.GoodsInfo.length; i++) {
                        var typeJq = $("#typelist a[data-type='" + window.GoodsInfo[i]["Type"] + "']");
                        typeJq.attr("data-pagecount", window.GoodsInfo[i]["MaxPage"]);
                        typeJq.find(".badge").html(window.GoodsInfo[i]["AllCount"]);
                        if (window.GoodsInfo[i]["Type"] == "all") {
                            $("#allgoods").html(window.GoodsInfo[i]["AllCount"] + "件商品");
                        }
                    }
                }
                //效果绑定
                $("#adleft .adbox").hover(function () {
                    var thisJq = $(this);
                    thisJq.addClass("cur");
                }, function () {
                    var thisJq = $(this);
                    thisJq.removeClass("cur");
                });
                
                //导航效果绑定
                $("#navbox .nav-item").hover(function () {
                    $(this).addClass("active");
                }, function () {
                    $("#navbox .nav-item.active[sel!='1']").removeClass("active");
                });
                $("#navbox .nav-item[data-type='" + type + "']").addClass("active").attr("sel","1");

                //初始化
                doLoadDatas(type, 1);
                doBindGoodInfo();
                scrollLoad();
            })();

        </script>
        <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?55f6e1bd48f7510fe046b82d61c6e876";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>

    </body>
    </html>
