
/* large */
@media (min-width: 1200px) {
	
}

/* medium */
@media (min-width: 992px) {
	
}

/* small */
@media (min-width: 768px) {
	
}




@media (max-width: 991px) {
	#menu-user ul li > a { padding: 5px 8px; }
	#menu-user #avatar-top > a { padding-right: 40px; }

	.bt-popliste,
	.bt-popshare {
		opacity: 1;
		transform: none;
		-webkit-transform: none;
		transition: none;
	}
}


@media (max-width: 767px) {
	#menu-top ul { float: right; }
	#lists{ background-color: #fff;}
}


